<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6: Quote Finder</title>
</head>
<body>
    
    <h1> Quote Finder </h1>


    <form id="searchByKeywordForm" action="/searchByKeyword" method="GET">
      Keyword: <input type="text" name="keyword" id="keyword">
      <button> Search by Keyword </button>
    </form> <br><br>


    <form action="/searchByAuthor" method="GET">
      Author: 
      <select name="authorId">

        <% for (let i of authors) {%>

         <option value=" <%= i.authorId %> ">
             <%= i.firstName %> <%= i.lastName %> </option>

        <% } %> 
      </select>

      <button> Search by Authors </button>
    </form>


    <script>


      document.querySelector("#searchByKeywordForm").addEventListener("submit", validateKeywordForm);


      //ensure that keyword has at least 3 characters
      function validateKeywordForm(){

        let keyword = document.querySelector("input[name=keyword]").value;
        if (keyword.length < 3) {
          alert("keyword must be at least 3 characters");
          event.preventDefault(); //prevents the form submission.
        }
        
      }


    </script>

</body>
</html>